.home {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 0 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .home {
    justify-content: center;
  }

  .home > .sidebar {
    display: none;
  }
}


